[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/fish/plugins/plugin-foreign-env"]
	path = config/fish/plugins/plugin-foreign-env
	url = https://github.com/oh-my-fish/plugin-foreign-env
[submodule "notes"]
	path = notes
	url = git@github.com:richardmarbach/wiki.git
