{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

brew "libyaml"
brew "angle-grinder"
brew "colima", args: { head: true }
brew "docker"
brew "docker-compose"
brew "fd"
brew "fish"
brew "gh"
brew "ghostscript"
brew "gnu-units"
brew "gpg"
brew "gpg2"
brew "htmlq"
brew "htop"
brew "imagemagick"
brew "inetutils"
brew "jq"
brew "lazygit"
brew "libpq"
brew "miller"
brew "mise"
brew "neovim"
brew "openssl"
brew "pgformatter"
brew "pulumi"
brew "qemu"
brew "redis"
brew "rg"
brew "tealdeer"
brew "tidy-html5"
brew "tmux"
brew "tree"
brew "fzf"
brew "watchman"
brew "whois"
brew "yafc"
brew "zint"
brew "zk"
brew "timewarrior"
brew "task"

cask "alfred"
cask "nikitabobko/tap/aerospace"
EOF
{{ end -}}
