{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"

brew "angle-grinder"
brew "awscli"
brew "aws-iam-authenticator"
brew "colima", args: { head: true }
brew "docker"
brew "docker-compose"
brew "exa"
brew "fd"
brew "fish"
brew "gh"
brew "ghostscript"
brew "gnu-units"
brew "gpg"
brew "gpg2"
brew "htmlq"
brew "htop"
brew "imagemagick"
brew "inetutils"
brew "jq"
brew "kubectl"
brew "lazygit"
brew "libpq"
brew "miller"
brew "minikube"
brew "mise"
brew "neovim"
brew "openssl"
brew "pgformatter"
brew "pulumi"
brew "qemu"
brew "redis"
brew "rg"
brew "tealdeer"
brew "tidy-html5"
brew "tmux"
brew "tree"
brew "fzf"
brew "watchman"
brew "whois"
brew "yafc"
brew "zint"
brew "zk"

cask "font-hack-nerd-font"
cask "alfred"
EOF
{{ end -}}
